/* import google font */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* font-family: "Poppins", sans-serif; */
:root {
  --ff-poppins: "Poppins", sans-serif;

  --Very-Dark-Blue: hsl(234, 12%, 34%);
  --Grayish-Blue: hsl(229, 6%, 66%);
  --Very-Light-Gray: hsl(0, 0%, 98%);

  --Red: hsl(0, 78%, 62%);
  --Cyan: hsl(180, 62%, 55%);
  --Orange: hsl(34, 97%, 64%);
  --Blue: hsl(212, 86%, 64%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-poppins);
  background: var(--Very-Light-Gray);
}

p {
  font-size: 0.938rem;
  color: var(--Grayish-Blue);
}

.wrapper {
  padding-inline: 1.5rem;
  max-width: 1100px;
  margin: 0 auto;
}

/* header section */
header {
  text-align: center;
  margin: 3rem 0;
}
.header-raw {
  max-width: 500px;
}
.header-raw h1 {
  font-size: 2rem;
  color: var(--Grayish-Blue);
  font-weight: 400;
  line-height: 39px;
  padding-bottom: 1rem;
}
.header-raw h1 span {
  color: var(--Very-Dark-Blue);
  font-weight: 600;
}
/* Four card feature section */
.layout-gird {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    "...  two   ..."
    "one  two   four"
    "one  three four"
    "...  three ...";
  gap: 2rem;
}
.layout-gird > :nth-child(1) {
  grid-area: one;
}
.layout-gird > :nth-child(2) {
  grid-area: two;
}
.layout-gird > :nth-child(3) {
  grid-area: three;
}
.layout-gird > :nth-child(4) {
  grid-area: four;
}
.card {
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.card h2 {
  font-size: 1.25rem;
  color: var(--Very-Dark-Blue);
  font-weight: 600;
}
.card p {
  padding: 0.5rem 0 2rem 0;
}
.card img {
  display: block;
  margin-left: auto;
}
.card:nth-child(1) {
  border-top: 5px solid var(--Cyan);
}
.card:nth-child(2) {
  border-top: 5px solid var(--Red);
}
.card:nth-child(3) {
  border-top: 5px solid var(--Orange);
}
.card:nth-child(4) {
  border-top: 5px solid var(--Blue);
}

/* footer */

.attribution {
  margin: 1.5rem 0;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* tab */
@media (max-width: 895px) {
  .layout-gird {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      "one   two"
      "three four";
  }
}
/* mobile */
@media (max-width: 768px) {
  .header-raw h1 {
    font-size: 1.6rem;
  }
  .layout-gird {
    grid-template-columns: 1fr;
    grid-template-areas:
      "one"
      "two"
      "three"
      "four";
  }
}
